.background-video {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.full-viewport {
  width: 100vw;
  height: 100vh;
}

.adaptable-viewport {
  width: 100vw;
  min-height: 60vh;
}

.countdown .cd-element, #header-container, .container, .countdown, .full-viewport, .adaptable-viewport {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.full-viewport {
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}

.container, .countdown {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.countdown .cd-element, #header-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delay-p00 {
  -webkit-animation-delay: 0s !important;
  -moz-animation-delay: 0s !important;
  -o-animation-delay: 0s !important;
  animation-delay: 0s !important;
}

.delay-m00 {
  -webkit-animation-delay: -0s !important;
  -moz-animation-delay: -0s !important;
  -o-animation-delay: -0s !important;
  animation-delay: -0s !important;
}

.delay-p01 {
  -webkit-animation-delay: 0.1s !important;
  -moz-animation-delay: 0.1s !important;
  -o-animation-delay: 0.1s !important;
  animation-delay: 0.1s !important;
}

.delay-m01 {
  -webkit-animation-delay: -0.1s !important;
  -moz-animation-delay: -0.1s !important;
  -o-animation-delay: -0.1s !important;
  animation-delay: -0.1s !important;
}

.delay-p02 {
  -webkit-animation-delay: 0.2s !important;
  -moz-animation-delay: 0.2s !important;
  -o-animation-delay: 0.2s !important;
  animation-delay: 0.2s !important;
}

.delay-m02 {
  -webkit-animation-delay: -0.2s !important;
  -moz-animation-delay: -0.2s !important;
  -o-animation-delay: -0.2s !important;
  animation-delay: -0.2s !important;
}

.delay-p03 {
  -webkit-animation-delay: 0.3s !important;
  -moz-animation-delay: 0.3s !important;
  -o-animation-delay: 0.3s !important;
  animation-delay: 0.3s !important;
}

.delay-m03 {
  -webkit-animation-delay: -0.3s !important;
  -moz-animation-delay: -0.3s !important;
  -o-animation-delay: -0.3s !important;
  animation-delay: -0.3s !important;
}

.delay-p04 {
  -webkit-animation-delay: 0.4s !important;
  -moz-animation-delay: 0.4s !important;
  -o-animation-delay: 0.4s !important;
  animation-delay: 0.4s !important;
}

.delay-m04 {
  -webkit-animation-delay: -0.4s !important;
  -moz-animation-delay: -0.4s !important;
  -o-animation-delay: -0.4s !important;
  animation-delay: -0.4s !important;
}

.delay-p05 {
  -webkit-animation-delay: 0.5s !important;
  -moz-animation-delay: 0.5s !important;
  -o-animation-delay: 0.5s !important;
  animation-delay: 0.5s !important;
}

.delay-m05 {
  -webkit-animation-delay: -0.5s !important;
  -moz-animation-delay: -0.5s !important;
  -o-animation-delay: -0.5s !important;
  animation-delay: -0.5s !important;
}

.delay-p06 {
  -webkit-animation-delay: 0.6s !important;
  -moz-animation-delay: 0.6s !important;
  -o-animation-delay: 0.6s !important;
  animation-delay: 0.6s !important;
}

.delay-m06 {
  -webkit-animation-delay: -0.6s !important;
  -moz-animation-delay: -0.6s !important;
  -o-animation-delay: -0.6s !important;
  animation-delay: -0.6s !important;
}

.delay-p07 {
  -webkit-animation-delay: 0.7s !important;
  -moz-animation-delay: 0.7s !important;
  -o-animation-delay: 0.7s !important;
  animation-delay: 0.7s !important;
}

.delay-m07 {
  -webkit-animation-delay: -0.7s !important;
  -moz-animation-delay: -0.7s !important;
  -o-animation-delay: -0.7s !important;
  animation-delay: -0.7s !important;
}

.delay-p08 {
  -webkit-animation-delay: 0.8s !important;
  -moz-animation-delay: 0.8s !important;
  -o-animation-delay: 0.8s !important;
  animation-delay: 0.8s !important;
}

.delay-m08 {
  -webkit-animation-delay: -0.8s !important;
  -moz-animation-delay: -0.8s !important;
  -o-animation-delay: -0.8s !important;
  animation-delay: -0.8s !important;
}

.delay-p09 {
  -webkit-animation-delay: 0.9s !important;
  -moz-animation-delay: 0.9s !important;
  -o-animation-delay: 0.9s !important;
  animation-delay: 0.9s !important;
}

.delay-m09 {
  -webkit-animation-delay: -0.9s !important;
  -moz-animation-delay: -0.9s !important;
  -o-animation-delay: -0.9s !important;
  animation-delay: -0.9s !important;
}

.delay-p10 {
  -webkit-animation-delay: 1s !important;
  -moz-animation-delay: 1s !important;
  -o-animation-delay: 1s !important;
  animation-delay: 1s !important;
}

.delay-m10 {
  -webkit-animation-delay: -1s !important;
  -moz-animation-delay: -1s !important;
  -o-animation-delay: -1s !important;
  animation-delay: -1s !important;
}

.delay-p11 {
  -webkit-animation-delay: 1.1s !important;
  -moz-animation-delay: 1.1s !important;
  -o-animation-delay: 1.1s !important;
  animation-delay: 1.1s !important;
}

.delay-m11 {
  -webkit-animation-delay: -1.1s !important;
  -moz-animation-delay: -1.1s !important;
  -o-animation-delay: -1.1s !important;
  animation-delay: -1.1s !important;
}

.delay-p12 {
  -webkit-animation-delay: 1.2s !important;
  -moz-animation-delay: 1.2s !important;
  -o-animation-delay: 1.2s !important;
  animation-delay: 1.2s !important;
}

.delay-m12 {
  -webkit-animation-delay: -1.2s !important;
  -moz-animation-delay: -1.2s !important;
  -o-animation-delay: -1.2s !important;
  animation-delay: -1.2s !important;
}

.delay-p13 {
  -webkit-animation-delay: 1.3s !important;
  -moz-animation-delay: 1.3s !important;
  -o-animation-delay: 1.3s !important;
  animation-delay: 1.3s !important;
}

.delay-m13 {
  -webkit-animation-delay: -1.3s !important;
  -moz-animation-delay: -1.3s !important;
  -o-animation-delay: -1.3s !important;
  animation-delay: -1.3s !important;
}

.delay-p14 {
  -webkit-animation-delay: 1.4s !important;
  -moz-animation-delay: 1.4s !important;
  -o-animation-delay: 1.4s !important;
  animation-delay: 1.4s !important;
}

.delay-m14 {
  -webkit-animation-delay: -1.4s !important;
  -moz-animation-delay: -1.4s !important;
  -o-animation-delay: -1.4s !important;
  animation-delay: -1.4s !important;
}

.delay-p15 {
  -webkit-animation-delay: 1.5s !important;
  -moz-animation-delay: 1.5s !important;
  -o-animation-delay: 1.5s !important;
  animation-delay: 1.5s !important;
}

.delay-m15 {
  -webkit-animation-delay: -1.5s !important;
  -moz-animation-delay: -1.5s !important;
  -o-animation-delay: -1.5s !important;
  animation-delay: -1.5s !important;
}

.delay-p16 {
  -webkit-animation-delay: 1.6s !important;
  -moz-animation-delay: 1.6s !important;
  -o-animation-delay: 1.6s !important;
  animation-delay: 1.6s !important;
}

.delay-m16 {
  -webkit-animation-delay: -1.6s !important;
  -moz-animation-delay: -1.6s !important;
  -o-animation-delay: -1.6s !important;
  animation-delay: -1.6s !important;
}

.delay-p17 {
  -webkit-animation-delay: 1.7s !important;
  -moz-animation-delay: 1.7s !important;
  -o-animation-delay: 1.7s !important;
  animation-delay: 1.7s !important;
}

.delay-m17 {
  -webkit-animation-delay: -1.7s !important;
  -moz-animation-delay: -1.7s !important;
  -o-animation-delay: -1.7s !important;
  animation-delay: -1.7s !important;
}

.delay-p18 {
  -webkit-animation-delay: 1.8s !important;
  -moz-animation-delay: 1.8s !important;
  -o-animation-delay: 1.8s !important;
  animation-delay: 1.8s !important;
}

.delay-m18 {
  -webkit-animation-delay: -1.8s !important;
  -moz-animation-delay: -1.8s !important;
  -o-animation-delay: -1.8s !important;
  animation-delay: -1.8s !important;
}

.delay-p19 {
  -webkit-animation-delay: 1.9s !important;
  -moz-animation-delay: 1.9s !important;
  -o-animation-delay: 1.9s !important;
  animation-delay: 1.9s !important;
}

.delay-m19 {
  -webkit-animation-delay: -1.9s !important;
  -moz-animation-delay: -1.9s !important;
  -o-animation-delay: -1.9s !important;
  animation-delay: -1.9s !important;
}

.delay-p20 {
  -webkit-animation-delay: 2s !important;
  -moz-animation-delay: 2s !important;
  -o-animation-delay: 2s !important;
  animation-delay: 2s !important;
}

.delay-m20 {
  -webkit-animation-delay: -2s !important;
  -moz-animation-delay: -2s !important;
  -o-animation-delay: -2s !important;
  animation-delay: -2s !important;
}

.delay-p21 {
  -webkit-animation-delay: 2.1s !important;
  -moz-animation-delay: 2.1s !important;
  -o-animation-delay: 2.1s !important;
  animation-delay: 2.1s !important;
}

.delay-m21 {
  -webkit-animation-delay: -2.1s !important;
  -moz-animation-delay: -2.1s !important;
  -o-animation-delay: -2.1s !important;
  animation-delay: -2.1s !important;
}

.delay-p22 {
  -webkit-animation-delay: 2.2s !important;
  -moz-animation-delay: 2.2s !important;
  -o-animation-delay: 2.2s !important;
  animation-delay: 2.2s !important;
}

.delay-m22 {
  -webkit-animation-delay: -2.2s !important;
  -moz-animation-delay: -2.2s !important;
  -o-animation-delay: -2.2s !important;
  animation-delay: -2.2s !important;
}

.delay-p23 {
  -webkit-animation-delay: 2.3s !important;
  -moz-animation-delay: 2.3s !important;
  -o-animation-delay: 2.3s !important;
  animation-delay: 2.3s !important;
}

.delay-m23 {
  -webkit-animation-delay: -2.3s !important;
  -moz-animation-delay: -2.3s !important;
  -o-animation-delay: -2.3s !important;
  animation-delay: -2.3s !important;
}

.delay-p24 {
  -webkit-animation-delay: 2.4s !important;
  -moz-animation-delay: 2.4s !important;
  -o-animation-delay: 2.4s !important;
  animation-delay: 2.4s !important;
}

.delay-m24 {
  -webkit-animation-delay: -2.4s !important;
  -moz-animation-delay: -2.4s !important;
  -o-animation-delay: -2.4s !important;
  animation-delay: -2.4s !important;
}

.delay-p25 {
  -webkit-animation-delay: 2.5s !important;
  -moz-animation-delay: 2.5s !important;
  -o-animation-delay: 2.5s !important;
  animation-delay: 2.5s !important;
}

.delay-m25 {
  -webkit-animation-delay: -2.5s !important;
  -moz-animation-delay: -2.5s !important;
  -o-animation-delay: -2.5s !important;
  animation-delay: -2.5s !important;
}

.delay-p26 {
  -webkit-animation-delay: 2.6s !important;
  -moz-animation-delay: 2.6s !important;
  -o-animation-delay: 2.6s !important;
  animation-delay: 2.6s !important;
}

.delay-m26 {
  -webkit-animation-delay: -2.6s !important;
  -moz-animation-delay: -2.6s !important;
  -o-animation-delay: -2.6s !important;
  animation-delay: -2.6s !important;
}

.delay-p27 {
  -webkit-animation-delay: 2.7s !important;
  -moz-animation-delay: 2.7s !important;
  -o-animation-delay: 2.7s !important;
  animation-delay: 2.7s !important;
}

.delay-m27 {
  -webkit-animation-delay: -2.7s !important;
  -moz-animation-delay: -2.7s !important;
  -o-animation-delay: -2.7s !important;
  animation-delay: -2.7s !important;
}

.delay-p28 {
  -webkit-animation-delay: 2.8s !important;
  -moz-animation-delay: 2.8s !important;
  -o-animation-delay: 2.8s !important;
  animation-delay: 2.8s !important;
}

.delay-m28 {
  -webkit-animation-delay: -2.8s !important;
  -moz-animation-delay: -2.8s !important;
  -o-animation-delay: -2.8s !important;
  animation-delay: -2.8s !important;
}

.delay-p29 {
  -webkit-animation-delay: 2.9s !important;
  -moz-animation-delay: 2.9s !important;
  -o-animation-delay: 2.9s !important;
  animation-delay: 2.9s !important;
}

.delay-m29 {
  -webkit-animation-delay: -2.9s !important;
  -moz-animation-delay: -2.9s !important;
  -o-animation-delay: -2.9s !important;
  animation-delay: -2.9s !important;
}

.delay-p30 {
  -webkit-animation-delay: 3s !important;
  -moz-animation-delay: 3s !important;
  -o-animation-delay: 3s !important;
  animation-delay: 3s !important;
}

.delay-m30 {
  -webkit-animation-delay: -3s !important;
  -moz-animation-delay: -3s !important;
  -o-animation-delay: -3s !important;
  animation-delay: -3s !important;
}

.heart {
  position: absolute;
  width: 50px;
  height: 50px;
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  left: 25px;
  top: 0;
  width: 25px;
  height: 40px;
  background: #fec89a;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 10000;
  animation: fade-out 1s ease-in-out 2s forwards;
}

.loader-wrapper {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.expand {
  opacity: 0.2;
  transform: scale(0.01);
  -moz-animation: expand 2s ease-in-out forwards;
  -o-animation: expand 2s ease-in-out forwards;
  animation: expand 2s ease-in-out forwards;
  -webkit-animation: expand 2s ease-in-out forwards;
}

@-webkit-keyframes expand {
  from {
    transform: scale(0.01);
  }
  to {
    transform: scale(100);
  }
}
@-moz-keyframes expand {
  from {
    transform: scale(0.01);
  }
  to {
    transform: scale(100);
  }
}
@-o-keyframes expand {
  from {
    transform: scale(0.01);
  }
  to {
    transform: scale(100);
  }
}
@-ms-keyframes expand {
  from {
    transform: scale(0.01);
  }
  to {
    transform: scale(100);
  }
}
@keyframes expand {
  from {
    transform: scale(0.01);
  }
  to {
    transform: scale(100);
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#header-container {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: start;
  justify-self: center;
}

h1 {
  text-align: center;
  font-family: "Allura", cursive;
  font-weight: 500;
  color: #ffffff;
  font-size: 7em;
  margin: 0 auto;
}
@media (max-width: 900px) {
  h1 {
    font-size: 6em;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 5em;
    margin: 0 0 3rem 0;
  }
}

.background-video {
  object-fit: cover;
  z-index: -1;
  grid-row: 1/4;
  grid-column: 1/4;
}

.countdown {
  color: #ffffff;
  font-size: 1.1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-align: center;
}
@media (max-width: 500px) {
  .countdown {
    flex-direction: column;
  }
}
.countdown .cd-element {
  text-transform: uppercase;
  padding: 0 1.2em;
  background-color: rgba(0, 0, 0, 0.35);
  width: 3em;
  border-radius: 4em;
  font-size: 1em;
  margin: 0 0.2em;
}
@media (max-width: 900px) {
  .countdown .cd-element {
    width: 3em;
    border-radius: 3em;
    font-size: 0.9em;
  }
}
@media (max-width: 500px) {
  .countdown .cd-element {
    margin: 0.5em auto;
    width: 3em;
    border-radius: 3em;
    font-size: 0.9em;
  }
}
.countdown .cd-element-number {
  font-size: 2em;
}
.countdown .cd-element-label {
  font-size: 0.6em;
  padding-bottom: 0.7em;
}

#countdown-after-datetime {
  display: none;
  font-size: 2em;
  padding: 0 0.25rem;
  letter-spacing: 0.5em;
}

figure {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
figure figcaption {
  display: none;
}
figure .rounded-image {
  width: 20em;
  border-radius: 50%;
  margin: 4em;
}
@media (max-width: 900px) {
  figure .rounded-image {
    width: 15em;
    margin: 3em;
  }
}
@media (max-width: 500px) {
  figure .rounded-image {
    width: 10em;
    margin: 2em;
  }
}
figure .us-sparkle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  background-image: url(../images/sparkle-1.png), url(../images/sparkle-2.png);
  -webkit-animation: sparkle-move 60s linear infinite;
  animation: sparkle-move 60s linear infinite;
}

.pulsing-hearts-wrapper .heart::before, .pulsing-hearts-wrapper .heart::after {
  background-color: #f7af9d;
}

@-webkit-keyframes sparkle-move {
  0% {
    background-position: 0 0px, 0 0px, 0 0;
  }
  100% {
    background-position: -500px -1000px, -200px -400px, 300px 300px;
  }
}
@-moz-keyframes sparkle-move {
  0% {
    background-position: 0 0px, 0 0px, 0 0;
  }
  100% {
    background-position: -500px -1000px, -400px -400px, 300px 300px;
  }
}
@-o-keyframes sparkle-move {
  0% {
    background-position: 0 0px, 0 0px, 0 0;
  }
  100% {
    background-position: -500px -1000px, -400px -400px, 300px 300px;
  }
}
@-ms-keyframes sparkle-move {
  0% {
    background-position: 0 0px, 0 0px, 0 0;
  }
  100% {
    background-position: -500px -1000px, -400px -400px, 300px 300px;
  }
}
@keyframes sparkle-move {
  0% {
    background-position: 0 0px, 0 0px, 0 0;
  }
  100% {
    background-position: -500px -1000px, -400px -400px, 300px 300px;
  }
}
.pulsing-hearts-wrapper {
  width: 50px;
  height: 50px;
}
.pulsing-hearts-wrapper > * {
  opacity: 0.5;
}

.pulse {
  -moz-animation: pulse 3s infinite ease-in-out;
  -o-animation: pulse 3s infinite ease-in-out;
  -webkit-animation: pulse 3s infinite ease-in-out;
  animation: pulse 3s infinite ease-in-out;
}

@-webkit-keyframes pulse {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0%, 100% {
    -moz-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes pulse {
  0%, 100% {
    -o-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes pulse {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
html {
  background-color: #f7af9d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.overlayered-container {
  display: grid;
  grid-template-columns: 1fr 40fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.container {
  width: 100%;
}
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}

.light-bg {
  background-color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
