html {
  background-color: #ff86b2;
  /*background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(63,94,251,0) 100%);*/ }

h1 {
  text-align: center;
  font-family: 'Allura', cursive;
  font-size: 6em;
  font-weight: 400;
  color: white; }

.mainTitle {
  margin: auto;
  height: 1vh; }
