.gallery {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1200px;
    max-height: 1200px;

    display: grid;
    grid-template-columns: repeat(10, 7vh);
    grid-template-rows: repeat(8, 7vh);

    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
    margin: 4em 0 8em 0;

    @media (orientation: portrait) {
        grid-template-columns: repeat(10, 5vw);
        grid-template-rows: repeat(8, 5vw);
    }

    &.gallery-infinite .gallery-fader {
        &:nth-child(8),
        &:nth-child(10),
        &:nth-child(17),
        &:nth-child(19),
        &:nth-child(20),
        &:nth-child(21) {
            opacity: 0;
        }
    }
    .gallery-fader {
        grid-column: span 2;
        width: 100%;
        height: 100%;
        &:hover {
            z-index: 100;
        }

        // rows
        &:nth-child(-n + 2) {
            grid-row: 1 / span 2;
        }
        &:nth-child(n + 3):nth-child(-n + 6) {
            grid-row: 2 / span 2;
        }
        &:nth-child(n + 7):nth-child(-n + 11) {
            grid-row: 3 / span 2;
        }
        &:nth-child(n + 12):nth-child(-n + 15) {
            grid-row: 4 / span 2;
        }
        &:nth-child(n + 16):nth-child(-n + 18) {
            grid-row: 5 / span 2;
        }
        &:nth-child(n + 19):nth-child(-n + 20) {
            grid-row: 6 / span 2;
        }
        &:nth-child(21) {
            grid-row: 7 / span 2;
        }

        // cols
        &:nth-child(7) {
            grid-column: 1 / span 2;
        }
        &:nth-child(3),
        &:nth-child(12) {
            grid-column: 2 / span 2;
        }
        &:nth-child(1),
        &:nth-child(8),
        &:nth-child(16) {
            grid-column: 3 / span 2;
        }
        &:nth-child(4),
        &:nth-child(13),
        &:nth-child(19) {
            grid-column: 4 / span 2;
        }
        &:nth-child(9),
        &:nth-child(17),
        &:nth-child(21) {
            grid-column: 5 / span 2;
        }
        &:nth-child(5),
        &:nth-child(14),
        &:nth-child(20) {
            grid-column: 6 / span 2;
        }
        &:nth-child(2),
        &:nth-child(10),
        &:nth-child(18) {
            grid-column: 7 / span 2;
        }
        &:nth-child(6),
        &:nth-child(15) {
            grid-column: 8 / span 2;
        }
        &:nth-child(11) {
            grid-column: 9 / span 2;
        }
    }

    .gallery-img {
        z-index: 1;
        width: 100%;
        height: 100%;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        transform: scale(1);

        transition: transform 0.4s linear, clip-path 0.4s linear,
            background-size 0.4s linear;

        background-position: center;
        background-repeat: no-repeat;
        background-size: 400%;

        &:hover {
            z-index: 100;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            background-size: 100%;
            transform: scale(4);
        }
    }
}

@for $i from 1 through 30 {
    $url: "url('../images/gallery/#{pad-zeroes($i)}.jpg')";

    #gallery-img-#{pad-zeroes($i)} {
        background-image: #{$url};
    }
}
