#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 10000;
    animation: fade-out 1s ease-in-out 2s forwards;
}
.loader-wrapper {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
}

.expand {
    opacity: 0.2;
    transform: scale(0.01);
    -moz-animation: expand 2s ease-in-out forwards;
    -o-animation: expand 2s ease-in-out forwards;
    animation: expand 2s ease-in-out forwards;
    -webkit-animation: expand 2s ease-in-out forwards;
}

@-webkit-keyframes expand {
    from {
        transform: scale(0.01);
    }
    to {
        transform: scale(100);
    }
}

@-moz-keyframes expand {
    from {
        transform: scale(0.01);
    }
    to {
        transform: scale(100);
    }
}

@-o-keyframes expand {
    from {
        transform: scale(0.01);
    }
    to {
        transform: scale(100);
    }
}

@-ms-keyframes expand {
    from {
        transform: scale(0.01);
    }
    to {
        transform: scale(100);
    }
}
@keyframes expand {
    from {
        transform: scale(0.01);
    }
    to {
        transform: scale(100);
    }
}

@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-ms-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
