@import "variables";
@import "loader";
@import "header";

html {
    // background: radial-gradient(
    //         circle,
    //         rgba(255, 230, 0, 0.1) 0%,
    //         rgba(252, 70, 107, 0.3) 100%
    //     ),
    //     url("../images/background-backup.jpg");
    background-color: rgba(252, 70, 107, 0.3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

body {
    margin: 0;
}
