@import "variables";
@import "effects";
@import "backgrounds";
@import "loader";
@import "header";
@import "us";
@import "date";
@import "details";
@import "maps";
@import "footer";

html {
    // background: radial-gradient(
    //         circle,
    //         rgba(255, 230, 0, 0.1) 0%,
    //         rgba(252, 70, 107, 0.3) 100%
    //     ),
    //     url("../images/background-backup.jpg");
    background-color: $color-background;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

body {
    margin: 0;
}

.full-viewport {
    width: 100vw;
    height: 100vh;
    @extend %flex-row-centered;
    @extend %flex-stretched;
}

.adaptable-viewport {
    width: 100vw;
    min-height: 70vh;
    @extend %display-flex;
}

.min-viewport {
    width: 100vw;
    @extend %display-flex;
}

.overlayered-container {
    display: grid;
    grid-template-columns: 1fr 40fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    @extend %fullSpace;
}

.container {
    @extend %flex-row-centered;
    width: 100%;

    @media (max-width: 900px) {
        flex-direction: column;
    }

    &.stretched {
        @extend %flex-stretched;
    }
    &.spaced {
        @extend %flex-spaced;
    }
}

.vertical-container {
    @extend %flex-column-centered;
    width: 100%;

    &.stretched {
        @extend %flex-stretched;
    }
    &.spaced {
        @extend %flex-spaced;
    }
}

.light-bg {
    background-color: $color-background-lighter;
}

.dark-bg {
    background-color: $color-background-darker;
}

.soft-bg {
    background-color: $color-background-soft;
}
.heart {
    position: absolute;
    width: 50px;
    height: 50px;

    .fa-heart {
        color: $color-peachpalette-10;
    }
}
